* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    background-color: #0000FF;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 20px;
    height: 20px;
    margin-top: 8px;
    background: #0000FF;
    border-radius: 200px;
}

.logo-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px 12px;
    gap: 10px;
    background: #FFFFFF;
    border-radius: 200px;
}

.button {
    display: none;
}

#saved {
    background-color: #FFFFFF;
    padding: 10px 25px;
    font-size: 1rem;
    color: black;
}

#manage {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: 16px 25px;
    font-size: 1rem;
}


button {
    /* padding:10px 25px; */
    font-size: 1.5rem;
    border-radius: 8px;
    background-color: #0000FF;
    border: none;
    padding: 16px 32px;
    color: #FFFFFF;
}


/* CONTENT */

main {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.container{
    margin: 2em auto;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 0 1em;
    box-shadow: 2px 2px #FFFFFF;
}
table{
    margin: 0 auto;
    width: 100%;
    border-radius: 8px;
    border-spacing: 0;
    text-align: center;
}
caption{
    margin-bottom: .5em;

}
thead{
    background-color:#0000FF;
    color: #FFFFFF;
    
    font-weight: 400;
    font-size: 1.75rem;

}
thead th:first-child{
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px ;
}

thead th:last-child{
    border-top-right-radius: 8px;
    border-bottom-right-radius:8px ;
}
tr td{
    padding: 1em 0;
   
}
tr:hover{
    background-color: #CCCCFF;
}

/* DESKTOP */
@media (min-width:600px) {
    header img{
        display: none;
       } 
       .button{
        display: flex;
        gap: 10px;
    }
    .head{
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }
}